# Kaggle Uplaod

In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./dataset/pop_net_migration.csv')
df.head()

       Country  Year  total_population  net_migration
0  Afghanistan  2023        42239854.0       -65846.0
1  Afghanistan  2022        41128771.0       -65846.0
2  Afghanistan  2021        40099462.0      -183672.0
3  Afghanistan  2020        38972230.0       166821.0
4  Afghanistan  2019        37769499.0        -8082.0

In [6]:
df.sample(10).to_clipboard()