# **Loading stock market data using yfiance library**

In [1]:
import pandas as pd
import yfinance as yf

### Find the ticker symbols here: https://stockanalysis.com/stocks/

In [2]:
# ticker define
ticker = 'NVDA'

In [3]:
# define the time period
start_date = '2015-01-01'
end_date = '2024-11-21'

In [4]:
# download the data
df_nvda = yf.download(ticker, start=start_date, end=end_date)
df_nvda.head()

[*********************100%***********************]  1 of 1 completed

Price      Adj Close    Close     High      Low     Open     Volume
Ticker          NVDA     NVDA     NVDA     NVDA     NVDA       NVDA
Date
2015-01-02  0.483177  0.50325  0.50700  0.49525  0.50325  113680000
2015-01-05  0.475016  0.49475  0.50475  0.49250  0.50325  197952000
2015-01-06  0.460614  0.47975  0.49600  0.47925  0.49550  197764000
2015-01-07  0.459414  0.47850  0.48750  0.47700  0.48325  321808000
2015-01-08  0.476696  0.49650  0.49950  0.48375  0.48400  283780000

# Define each column in the dataset
- **Date**: The date of the stock market data
- **Open**: The opening price of the stock
- **High**: The highest price of the stock
- **Low**: The lowest price of the stock
- **Close**: The closing price of the stock
- **Adj Close**: The adjusted closing price of the stock
- **Volume**: The volume of the stock
- **Ticker**: The ticker symbol of the stock
- **Name**: The name of the stock
- **Sector**: The sector of the stock
- **Industry**: The industry of the stock
- **Country**: The country of the stock

In [5]:
# save the data in a csv file
df_nvda.to_csv('datasets/' + ticker + '_yfinance.csv')

In [7]:
# download the data from multiple tickers
tickers = ['AAPL', 'MSFT', 'NVDA', 'GOOGL', 'AMZN']
start_date = '2010-01-01'
end_date = '2024-11-21'
df = yf.download(tickers, start=start_date, end=end_date)
df.head()
# save the data in a csv file
df.to_csv('datasets/' + '_'.join(tickers) + '_yfinance.csv')

[*********************100%***********************]  5 of 5 completed

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3747 entries, 2010-01-04 to 2024-11-20
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AAPL)   3747 non-null   float64
 1   (Adj Close, AMZN)   3747 non-null   float64
 2   (Adj Close, GOOGL)  3747 non-null   float64
 3   (Adj Close, MSFT)   3747 non-null   float64
 4   (Adj Close, NVDA)   3747 non-null   float64
 5   (Close, AAPL)       3747 non-null   float64
 6   (Close, AMZN)       3747 non-null   float64
 7   (Close, GOOGL)      3747 non-null   float64
 8   (Close, MSFT)       3747 non-null   float64
 9   (Close, NVDA)       3747 non-null   float64
 10  (High, AAPL)        3747 non-null   float64
 11  (High, AMZN)        3747 non-null   float64
 12  (High, GOOGL)       3747 non-null   float64
 13  (High, MSFT)        3747 non-null   float64
 14  (High, NVDA)        3747 non-null   float64
 15  (Low, AAPL)         3747 non-null   float64
 16  (Low, AMZN)         3747 non-null   float64
 17  (Low, GOOGL)        3747 non-null   float64
 18  (Low, MSFT)         3747 non-null   float64
 19  (Low, NVDA)         3747 non-null   float64
 20  (Open, AAPL)        3747 non-null   float64
 21  (Open, AMZN)        3747 non-null   float64
 22  (Open, GOOGL)       3747 non-null   float64
 23  (Open, MSFT)        3747 non-null   float64
 24  (Open, NVDA)        3747 non-null   float64
 25  (Volume, AAPL)      3747 non-null   int64
 26  (Volume, AMZN)      3747 non-null   int64
 27  (Volume, GOOGL)     3747 non-null   int64
 28  (Volume, MSFT)      3747 non-null   int64
 29  (Volume, NVDA)      3747 non-null   int64
dtypes: float64(25), int64(5)
memory usage: 907.5 KB