# Sequences

In [10]:
list = [10,20,30,40,50]
fruits = ['apple','banana','cherry']
range_of_numbers = range(1,10,1)

In [11]:
range(1, 10, 2)

range(1, 10, 2)

In [2]:
list

[10, 20, 30, 40, 50]

In [3]:
fruits

['apple', 'banana', 'cherry']

In [4]:
range_of_numbers

range(1, 10)

In [12]:
print("apple" in fruits)

True

In [13]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
list_1 + list_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list_1 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [16]:
list(range(1,10))

TypeError: 'list' object is not callable