# Handling Large Financial Data in Pandas

In this notebook, we'll generate a sample financial dataset with large numbers, and explore solution to display these values in full without scientific notation.

- Data is usually having large numbers in financial domain, and it's important to `display these numbers in full without scientific notation`. Pandas by default displays large numbers in scientific notation, which is not very readable.
- Also, `thousand separators` are not displayed by default in Pandas.

## Step 1: Generating Sample Data

We begin by creating a sample dataset with large financial numbers.

In [2]:
import pandas as pd

# Sample data with large financial values
data = {
    'Company': ['Company A', 'Company B', 'Company C'],
    'Revenue': [123456789, 987654321.34, 56473829100000000],
    'Profit': [23456789, 876543211500000, 34738291.678]
}
df = pd.DataFrame(data)
df

     Company       Revenue        Profit
0  Company A  1.234568e+08  2.345679e+07
1  Company B  9.876543e+08  8.765432e+14
2  Company C  5.647383e+16  3.473829e+07

In [6]:
# display the numbers without scientific notation
pd.options.display.float_format = '{:.2f}'.format
df

     Company              Revenue             Profit
0  Company A         123456789.00        23456789.00
1  Company B         987654321.34 876543211500000.00
2  Company C 56473829100000000.00        34738291.68

## Step-2: Formatting with Apply and Lambda

We can use `apply` with `lambda` to format large numbers with commas for thousands, allowing more control over the displayed format.

**Breakdown:**
- `lambda x:` Defines an anonymous function with a single argument x, which represents each value in the Profit column.
- `f'{x:,.0f}'`: Formats x as a string with commas separating thousands, millions, etc., and 0f to show no decimal places.
>For instance, if x is 123456789, the lambda function converts it to "123,456,789".

In [9]:
# Format columns with commas
df_solution = df.copy()
df_solution['Revenue'] = df_solution['Revenue'].apply(lambda x: f'{x:,.0f}') # f-string formatting with commas 
df_solution['Profit'] = df_solution['Profit'].apply(lambda x: f'{x:,.0f}') # f-string formatting with commas

df_solution

     Company                 Revenue               Profit
0  Company A             123,456,789           23,456,789
1  Company B             987,654,321  876,543,211,500,000
2  Company C  56,473,829,100,000,000           34,738,292

## to reset the options

If you do not need this anymore. You can reset the options to default using `pd.reset_option('display.float_format')`.

In [10]:
pd.reset_option('display.float_format')